{% extends "user/navbar.html" %}

{% block title %} <title>DiningNooking</title>{% endblock %}

{% block content %}
<style>
    .myfoot , .mynav{
        display: none;
    }
    .form-field {
            border: 1px solid gray;
            transition: border-color 0.3s ease-in-out, border-width 0.3s ease-in-out;
        }
        .form-field.clicked {
            border-color: blue;
            border-width: 2px;
        }
</style>
{%  if messages %}
{% for message in messages %}
  <script>
     alert ('{{message}}')
   </script>
  {% endfor %}
 {% endif %}

<div class="container-fluid" style="background-image: url(../../static/img/gallery/services2.jpg); background-size: cover; background-position: center; height: 100vh; overflow-y: scroll;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9" style="background-color: rgb(255, 255, 255);">
                <img src="../../static/img/jw1.png" class="img-fluid" width="200px" alt="">
                <div class="card-body" style="background: #0D293F;">
                    <p class="" style="color: aliceblue; font-size: 17px;">To make a real-time, instantly confirmed reservation at <strong>Romano's</strong> in <strong>JW Marriott</strong> Mumbai Sahar, please complete and submit the following form. Thank you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="position: relative; bottom: 15px;">
        <div class="row justify-content-center">
            <div class="col-lg-8 bg-light p-4">
                <div class="m-2">
                    <p style="font-size: 16px; color: rgb(4, 4, 99); text-decoration: underline;">Reservation Information</p>
                </div>
                <form action="" method="post" style="margin-bottom: 20px;">
                    {% csrf_token %}
                    {% for i in confirm %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="">RESTAURANT</label>
                            <input class="form-control" type="text" name="adult" id="" value='{{i.restaurant}}' readonly>
                            <!-- <select class="form-control form-field" name="restaurant" id="restaurant" value='{{i.restaurant}}'>
                                <option value="">--Select--</option>
                                <option value="JW'S CAFE">JW'S CAFE</option>
                                <option value="Romano's">Romano's</option>
                            </select> -->
                        </div>
                        <div class="col-md-6">
                            <label for="booking_time">Time</label>
                            <input class="form-control" type="text" name="adult" id="" value='{{i.time}}' readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="">Adult's</label>
                            <input class="form-control" type="text" name="adult" id="" value="{{i.adult}}" readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="">Date</label>
                            <input class="form-control" type="text" name="adult" id="" value="{{i.date}}" readonly>
                        </div>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label for="">CHILDERN</label>
                            <input class="form-control" type="text" name="children" id="" value="{{i.children}}" readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="">Pre_booking Amount</label>
                            <input class="form-control" type="text" name="prebooking" value="{{i.prebooking}}" id="" readonly>
                        </div>
                    </div>
            </div>
        </div>
        <!-- secondform  -->
        <div class="row justify-content-center">
            <div class="col-lg-8 bg-light p-4">
                <div class="m-2">
                    <p style="font-size: 16px; color: rgb(4, 4, 99); text-decoration: underline;">Personal Information</p>
                </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Title</label>
                            <input class="form-control" type="text" name="title" id="" value="{{i.title}}" readonly>
                        </div>
                        <div class="col-md-4" >
                            <label for="booking_time">First Name.</label>
                           <input class="form-control" type="text" name="fname" value="{{i.first_name}}" readonly>

                        </div>
                        <div class="col-md-4">
                            <label for="">Last Name</label>
                            <input class="form-control" type="text" name="lname" id="" value="{{i.last_name}}" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        
                        <div class="col-md-4">
                            <label for="">Contact Number</label>
                            <input class="form-control" type="text" name="cnumber" id="" value="{{i.last_name}}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="">Number</label>
                            <input class="form-control" type="text" name="number" id="" value="{{i.number}}" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="">Email Address</label>
                            <input class="form-control" type="email" name="email" id="" value="{{i.email}}" readonly>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label for="message">Additional Note</label>
                        <textarea name="message" id="message" cols="30" rows="5" readonly>{{i.note}}</textarea>
                        
                       
                        <div class="col-md-6 mt-3">
                            <div class="d-flex justify-content-between mx-auto">
                                <a href="{%  url 'diningpayment' i.id %}" class="btn btn-primary">
                                    <button class="btn"  id="rzp-button1" style="border-radius: 20px;">Book Now</button>
                                </a>
                                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                                <script>
                                var options = {
                                    "key": "rzp_test_VPel75yVZnzpbD", // Enter the Key ID generated from the Dashboard
                                    "amount": "{{amt}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                    "currency": "INR",
                                    "name": "Acme Corp",
                                    "description": "Test Transaction",
                                    "image": "https://example.com/your_logo",
                                    "order_id": "{{data}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                    "callback_url": "",
                                    "prefill": {
                                        "name": "Prasad Mhasal",
                                        "email": "gaurav.kumar@example.com",
                                        "contact": "8767614273"
                                    },
                                    "notes": {
                                        "address": "Razorpay Corporate Office"
                                    },
                                    "theme": {
                                        "color": "#3399cc"
                                    }
                                };
                                var rzp1 = new Razorpay(options);
                                document.getElementById('rzp-button1').onclick = function(e){
                                    rzp1.open();
                                    e.preventDefault();
                                }
                                </script>
                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </form>
               

                
            </div>
        </div>
        <!-- end  -->

    </div>


</div>





{% endblock %}
