
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Booking</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'  %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <style>
        *{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        .booking{
            position: relative; 
            top: 200px;
        }

        @media screen and (max-width:500px) {
            .booking{
            position: relative; 
            top: 300px;
        } 
        }
       

    </style>
      <script>
        function startCountdown(duration) {
            var countdownElement = document.getElementById('countdown');
            var endTime = Date.now() + duration * 1000;

            function updateCountdown() {
                var now = Date.now();
                var remainingTime = Math.max(0, endTime - now);
                var minutes = Math.floor(remainingTime / 1000 / 60);
                var seconds = Math.floor((remainingTime / 1000) % 60);

                countdownElement.textContent = minutes + "m " + seconds + "s";

                if (remainingTime <= 0) {
                    window.location.href = "{% url 'roombooking' %}";
                } else {
                    requestAnimationFrame(updateCountdown);
                }
            }

            updateCountdown();
        }

        document.addEventListener('DOMContentLoaded', function() {
            startCountdown({{ timeout_duration }});
        });
    </script>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-light fixed-top "  style="background-color: #323232e1;">
          <div class="container-fluid">
              <a href="{% url 'userhome' %}" class="navbar-brand "><img src="{% static 'img/logo.png' %}" height="120px" width="100%" alt="" srcset="" style="align-items: center;"></a>
              <div class="col-md-9"> <!-- Adjusted column width to accommodate the content -->
                <div style="color: aliceblue;">
                    <h4>JW Marriott Mumbai Sahar</h4>
                    <p>
                        <span style="padding: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                            IA Project Road, Chhatrapati Shivaji International Airport, Andheri, Mumbai, 400099
                        </span>
                        <span style="padding: 10px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                            </svg>
                            India+9122688288884.3
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>(2468 reviews)
                    </p>
                </div>
            </div>
          </div>
      </nav>

      <div class="container booking overflow-hidden">
        <div class="col-11 text-end">
            <p style="color: #6e0202;"><i class="fa-regular fa-clock" style="color: #860303;"></i>  Room(s) held for <span id="countdown"></span></p>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <h3 class="">Complete Your Booking</h3>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-8 shadow border" style="border-radius: 10px;">
               
                <form action="" class="m-5" method="post">
                    {% csrf_token %}
                    <div class="col-12">
                        <p style="font-size: 16px; color: rgb(0, 0, 0); text-decoration: underline;">Sign in for Faster Booking</p>
                    </div>
                    <div class="d-flex align-items-center"> <!-- Adjusted class name align-content-center to align-items-center -->
                        <h3 style="font-size: 25px; color: rgb(0, 0, 0);">Guest Information</h3>
                        <p style="margin-left:20px;">All fields are required unless otherwise stated.</p>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name" style="height: 50px;">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" style="height: 50px;">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Email" aria-label="First name" style="height: 50px;">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input type="text" class="form-control" placeholder="Number Number" aria-label="Last name" style="height: 50px;">
                        </div>
                        <div class="col-12 mb-3">
                            <p style="font-size: 12px;">Note: To be credited for this stay, the name on your Marriott Bonvoy account must match the guest name.</p>
                        </div>
                        <div class="col-12 mb-3 d-flex align-items-center">
                            <input type="checkbox" name="" id="">
                            <p style="font-size: 12px; margin-bottom: 0; margin-left: 5px;">Send My Confirmation By Email</p>
                        </div>
                    </div>
                
            </div>
            {% for i in da %}
            <div class="col-lg-4 col-sm-12" > <!-- Corrected class name to col-lg-4 -->
                <div class="card" style="width: 18rem;border-radius: 10px;">
                    <img src="{{i.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{ i.room }}, {{ i.caption }}, {{ i.view }}</p>
                        <p  style="border: none; background-color: #6d6b6b04; color: rgba(92, 92, 92, 0.699); font-size: 15px; font-weight: 500; text-decoration: underline;">Room details</p>
                        <p>Today {{i.time}} - Towmorrow  {{i.time1}}</p>
                    </div>
                    <div class="card-footer ">
                        <div class="d-flex justify-content-between">
                            <p > <span style="border: none; background-color: #6d6b6b04; color: rgba(92, 92, 92, 0.699); font-size: 15px; font-weight: 500; text-decoration: underline;">Summary of Charges</span > </p>
                            <p style="font-weight: 500;">{{i.price}}</p>

                        </div>
                        <div class="text-end">
                            <a href="{% url 'bookingroom' i.id %}" class="btn button "  style="border:1px solid rgb(114, 114, 114); border-radius: 50px; font-weight: 600; color: rgb(250, 250, 250); background-color: rgb(0, 0, 0);"><span class="">Book now</span></a>
                          </div>
                        

                    </div>
                </div>
            </div>
        
            {% endfor %}
        </form>
        </div>
        


        
    </div> 
</div>


 <!-- Bootstrap Bundle with Popper -->
</body>
</html>
