<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'  %}">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

   
</head>
<body>


    <div class="container-fluid">
        <div class="row text-center mt-5">
            <div class="col-12">
                <img src="../../static/img/thank.png" alt="">
            </div>
            <div class="col-12">
                <strong>THANK YOU!</strong>
                <p style="color: rgba(0, 0, 255, 0.712); font-weight: 700;">Your payment has been processed sucessfully </p>
                <p style="color: rgba(0, 0, 255, 0.582); font-weight: 600;">Page while be automatically redirected the main page or click botton below</p>
                <a href="{% url 'userhome' %}">
                    <button type="button" class="btn btn-primary" style="width: 100px;">Done</button>
                </a>
            </div>

        </div>

    </div>
 










      <script src="{% static 'js/js.js' %}"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>

</body>
</html>